.header{
  color: antiquewhite;
  font-size: 6rem;
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #2d2dff 0px 0px 20px, #2d2dff 0px 0px 30px, #2d2dff 0px 0px 40px, #2d2dff 0px 0px 50px, #2d2dff 0px 0px 75px;
  font-family: 'Lobster', cursive;
}