@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import "./Styles/Button.css";
@import "./Styles/ConvertDateToHeb.css";
@import "./Styles/DateSelection.css";
@import "./Styles/HebrewDate.css";


body {
  background-color: white;
  background-image: url("https://cms.cloudinary.vpsvc.com/images/c_scale,dpr_auto,f_auto,q_auto:good,w_900/legacy_dam/en-gb/S001593749/MXP-18108-Wall-Calendars-Overview-Product-Tile-001?cb=6606ae1135bea5db8ada9998f43640bcd151060e");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  text-decoration: none;
}